<html>

<head>
    <style>
        .button {
            display: inline-block;
            width: 85px;
            height: 20px;
            background: #4e9caf;
            padding: 8px;
            text-align: center;
            border-radius: 5px;
            color: white !important;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="col-md-12" style="margin-bottom: 60px">
    <div style="text-align: center;margin-top: 30px">
        <img src="http://www.stomachachecrew.com/assets/images/logo.png">

    </div>
    <div class="row">
    <p>
       We have observed multiple posts from your account that are in violation of our policies due to which we have de-activated your account.
For any further assistance please contact. 
      
    </p>
     <h3>Contact: info@stomachachecrew.com</h3>
    </div>
    
   
</body>

</html>