<html>

<head>
    <style>
        .button {
            display: inline-block;
            width: 85px;
            height: 20px;
            background: #ce2c4a;
            padding: 8px;
            text-align: center;
            border-radius: 5px;
            color: white !important;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="col-md-12" style="margin-bottom: 60px">
    <div style="text-align: center;margin-top: 30px">
        <img src="http://www.stomachachecrew.com/assets/images/logo.png">

    </div>
    <h4 style="color:#fff;">To join Stomach Ache Crew </h4>
    {{!-- <a href="http://{{host}}/user/confirmation/{{token}}" class="button">Click Here</a> --}}
    
    <a href="{{url}}" class="button">Click Here</a>
    </div>
</body>

</html>