<html>

<head>
    <style>
        .button {
            display: inline-block;
            width: 85px;
            height: 20px;
            background: #4e9caf;
            padding: 8px;
            text-align: center;
            border-radius: 5px;
            color: white !important;
            font-weight: bold;
        }
    </style>
</head>

<body>
     <div class="row">
    <div class="col-md-12" style="margin-bottom: 60px">
    <div style="text-align: center;margin-top: 30px">
        <img src="http://www.stomachachecrew.com/assets/images/logo.png">

    </div>
    </div>
   
    <p>
       Congratulations... 
       Your Stomach Ache Crew Account has now been re-activated.
       You will be able to login using your old credentials.
       Click here to Login. 
      
    </p>
      <a href="{{url}}" class="button">Click Here</a>
    </div>
    
   
</body>

</html>