<html>

<head>
    <style>
        .button {
            display: inline-block;
            width: 85px;
            height: 20px;
            background: #4e9caf;
            padding: 8px;
            text-align: center;
            border-radius: 5px;
            color: white !important;
            font-weight: bold;
        }
    </style>
</head>

<body>
     <div class="col-md-12" style="margin-bottom: 60px">
    <div style="text-align: center;margin-top: 30px">
        <img src="http://www.stomachachecrew.com/assets/images/logo.png">

    </div>
    </div>
    <div class="row">
    <p>
     This is to bring to your attention that user: <h4>{{userName}}</h4>  with mail:<h4>{{emailId}} </h4> has been unblocked.
      
    </p>
  
    </div>
    
   
</body>

</html>